{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>SIA Challenge</title>
{% endblock head %}

{% block catchline %}
    Where do you want to go?
{% endblock catchline %}

{% block body %}
    <form class="col s12 flight-form" method="POST" ectype="application/json">{% csrf_token %}

          <div class="input-field">
            <select name="departureAirport">
                <option value="ORY">ORY (Paris)</option>
                <option value="SIN">SIN (Singapore)</option>
              <option value="SGN">SGN</option>
              <option value="JFK">JFK</option>
              <option value="LAX">LAX</option>
            </select>
            <label>From</label>
        </div>

         <div class="input-field">
            <select name="arrivalAirport">
                <option value="ORY">ORY (Paris)</option>
                <option value="SIN">SIN (Singapore)</option>
              <option value="SGN">SGN</option>
              <option value="JFK">JFK</option>
              <option value="LAX">LAX</option>
            </select>
            <label>To</label>
        </div>

        <div class="input-field">
            <input name="departureDate" type="date" class="datepicker col s6" placeholder="Fly Date">
        </div>

        <div class="input-field">
            <input name="departureDate" type="date" class="datepicker col s6" placeholder="Return Date">
        </div>

         <button class="btn waves-effect waves-light" type="submit" name="action">Search flight!
        <i class="material-icons right">send</i>
      </button>
    </form>


<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        format: 'yyyy-mm-dd',
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>

{% endblock body %}

