{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>SIA Challenge</title>
{% endblock head %}

{% block body %}


    <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Hi, {{ SIAUser.firstname }}</h1>
        <div class="row center">
          <h5 class="header col s12 light">Where do you want to go?</h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="{% static 'img/background1.jpg' %}" alt="Unsplashed background img 1"></div>
  </div>

  <div class="row">

    <form class="col s12 flight-form" method="POST" ectype="application/json">{% csrf_token %}

        <div class="input-field">
            <label for="departureAirport">From</label>
          <input name="departureAirport" id="departureAirport" type="text" class="validate">

        </div>

        <div class="input-field">
            <label for="arrivalAirport">To</label>
          <input name="arrivalAirport" id="arrivalAirport" type="text" class="validate">

        </div>

        <div class="input-field">
            <input name="departureDate" type="date" class="datepicker col s6" placeholder="Fly Date">

        </div>


         <button class="btn waves-effect waves-light" type="submit" name="action">Search flight!
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>


<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        format: 'yyyy-mm-dd',
    });
</script>

{% endblock body %}

