{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SIA CHALLENGE</title>
  <meta name="description" content="">
  <meta name="author" content="huy">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link href="{% static 'css/indexstyle.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<div id="bg">
  <img src="{% static 'img/background.jpg' %}" alt="">

</div>
<div class="overlay"> </div>
<div class="container">
	<h1>OUR APP NAME </h1>
  <blockquote>"Some catchy quote here about how awesome and revolutionized the app is"</blockquote>

  <div class = "button-container">
    <div><form action="" method="POST">{% csrf_token %}
      <input class="ghost-input" type="text" name="username" placeholder="Username"><br>
      <input class="ghost-input" type="password" name="password" placeholder="Password"><br>
      <div> <a href="{% url 'index' %}"> <button type="submit" class="btn-lg ghost-button ghost-button">LOG IN</button> </a> </div>
    </form>
        <div> <a href="{% url 'signup' %}"> <button class="btn-lg ghost-button ghost-button">SIGN UP</button> </a> </div>
    </div>

  </div>
</div>
      <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
</body>
</html>

