{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
  <title>SIA Challenge</title>
{% endblock head %}

{% block catchline %}
    Your trip to Singapore
{% endblock catchline %}


{% block body %}

    <div class="trip-info-holder">
    <ul class="collapsible popout" data-collapsible="accordion">
     <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Movies</div>
      <div class="collapsible-body">
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle">language</i>
            <span class="title"><b>Captain America: Civil War</b></span>
            <p>Captain America: Civil War is a 2016 American superhero film featuring the Marvel Comics character Captain America, produced by Marvel Studios and distributed by Walt Disney Studios Motion Pictures.
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle">folder</i>
            <span class="title"><b>Zootopia</b></span>
            <p>Zootopia (released as Zootropolis in some countries) is a 2016 American 3D computer-animated buddy comedy adventure film produced by Walt Disney Animation Studios and released by Walt Disney Pictures.
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle green">insert_chart</i>
            <span class="title"><b>Finding Dory</b></span>
            <p>Finding Dory is a 2016 American 3D computer-animated comedy-drama adventure film produced by Pixar Animation Studios and released by Walt Disney Pictures. Directed and co-written by Andrew Stanton with co-direction by Angus MacLane, the screenplay was co-written by Victoria Strouse and Stanton.
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
          <li class="collection-item avatar">
            <i class="material-icons circle red">play_arrow</i>
            <span class="title">Batman v Superman: Dawn of Justice</span>
            <p>Batman v Superman: Dawn of Justice is a 2016 American superhero film featuring the DC Comics characters Batman and Superman. Directed by Zack Snyder and distributed by Warner Bros. Pictures, the film is a follow-up to 2013's Man of Steel and is the second installment in the DC Extended Universe.
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
          </li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Menu</div>
      <div class="collapsible-body"><p><a href="{% url 'flight-search' %}">Book new flights</a> </p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Souvenier</div>
      <div class="collapsible-body"><p><a href="{% url 'flight-search' %}">Book new hotel</a> </p></div>
    </li>
   
  </ul>
</div>


<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        format: 'yyyy-mm-dd',
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>

{% endblock body %}

