{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap %}

{% block body %}


<div class="container">

    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        
        {{ form|bootstrap }}
        
        {% for loc_form in location_form %}
        {{ loc_form.media }}
        {{ loc_form|bootstrap }}
        {% endfor %}
        
        {{ location_form.management_form }}
        
        <input type="submit" name="submit" class="btn btn-primary btn-sm" value="Update" />
    </form>
</div>

<script type="text/javascript">
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year
        format: 'yyyy-mm-dd',
    });

    $(document).ready(function() {
        $('select').material_select();
    });
</script>

{% endblock %}