<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    For user to signup


    <form action="", method="POST">{% csrf_token %}
      Username:<br>
      <input type="text" name="username"><br>
      Password:<br>
      <input type="password" name="password"><br><br>
         Firstname:<br>
      <input type="text" name="firstname"><br><br>
         Lastname:<br>
      <input type="text" name="lastname"><br><br>
        Email:<br>
      <input type="text" name="email"><br><br>
      <input type="submit" value="Signup">
    </form>


    <a href="{% url 'index' %}"> Have an account? Login </a>


</body>
</html>